<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Jiji | Nairobi in Black & White</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link href="/styles/site.css" rel="stylesheet">
		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
		<link href="/styles/main.css" rel="stylesheet">
		<link href="/styles/normalize.css" rel="stylesheet">
		<link href="/styles/nucleo-icons.css" rel="stylesheet">
		<link href="/styles/responsive.css" rel="stylesheet">
		<link href="/styles/gallery/foundation.min.css" rel="stylesheet">
		<!--<link href="/styles/gallery/set1.css" rel="stylesheet">-->

		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}

		{{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8 --}}
		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>
	<body>
	<header id="header" class="header">
		<div class="container-fluid">
			<hgroup>

				<!-- logo -->

				<h1> <a href="/" title="Jiji"><img src="images/logo.png" alt="logo"/></a> </h1>

				<!-- logo -->

				<!-- nav -->
				<nav>
					<div class="menu-expanded">
						<div class="nav-icon">
							<div id="menu" class="menu"></div>
							<p>menu</p>
						</div>
						<div class="cross"> <span class="linee linea1"></span> <span class="linee linea2"></span> <span class="linee linea3"></span> </div>
						<div class="main-menu">
							<ul>
								{{# each navLinks}}
									<li {{#ifeq ../section key}}class="active"{{else}}{{/ifeq}}>
										<a href="{{ href }}">{{ label }}</a>
									</li>
								{{/each}}
							</ul>
						</div>
					</div>
				</nav>
				<!-- nav -->

			</hgroup>
		</div>
	</header>
		<div id="body">
			<!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc
			-->
			{{#if messages}}
			<div id="flash-messages" class="container">
				{{#if messages.info}}
				<div class="alert alert-info">
						{{{flashMessages messages.info}}}
				</div>
				{{/if}}
				{{#if messages.success}}
				<div class="alert alert-success">
						{{{flashMessages messages.success}}}
				</div>
				{{/if}}
				{{#if messages.warning}}
				<div class="alert alert-warning">
						{{{flashMessages messages.warning}}}
				</div>
				{{/if}}
				{{#if messages.error}}
				<div class="alert alert-danger">
						{{{flashMessages messages.error}}}
				</div>
				{{/if}}
			</div>
			{{/if}}
			<!-- The content block should contain the body of your template's content-->
			{{{body}}}
		</div>
		<div class="container">
			<div id="footer">
				<div class="credits ml-auto">
                    <span class="copyright">
                        © <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by <a
							href="https://wang0nya.github.io/" target="_blank">Kinyanjui Wangonya</a>
                    </span>
				</div>
			</div>
		</div>
		{{!--
			//- jQuery 1.11.3 is included by default, and required by both Bootstrap
			//- and the KeystoneJS Content Editor. If you are not targeting IE8,
			//- you can upgrade to 2.1.4 (also bundled) for better performance.
		--}}
		<script src="/js/jquery/jquery-2.1.4.min.js"></script>
		<script src="/js/jquery.nicescroll.min.js"></script>
		<script src="/js/jquery.contact.js"></script>
		{{!--
			//- Customise which Bootstrap javascript files are served by including
			//- them specifically here, instead of bootstrap-3.3.5.min.js
		--}}
		<script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>
		<!--custom js files-->
		<script src="/js/bootstrap-switch.min.js"></script>
		<script src="/js/custom.js"></script>
		<script src="/js/main.js"></script>
		<script src="/js/modernizr-2.8.3.min.js"></script>
		<script src="/js/paper-kit.js"></script>
		<script src="/js/plugins.js"></script>
		<!--gallery js-->
		<script src="/js/gallery/imagesloaded.pkgd.min.js"></script>
		<script src="/js/gallery/jquery.infinitescroll.min.js"></script>
		<script src="/js/gallery/main.js"></script>
		<script src="/js/gallery/masonry.pkgd.min.js"></script>
		{{{isAdminEditorJS user}}}
	</body>
</html>
