<div class="container">
	<h1>Gallery</h1>
</div>
<main class="main-wrapper" id="container">

	<!-- image Gallery -->
	<div class="wrapper container">
	<!-- if galleries -->
	{{#if galleries}}
		{{#each galleries}}
		<h2>{{name}}
		</h2>
				<div class="card-description">
					<p>{{#if description}}<strong>Descripltion:</strong> {{description}}{{/if}}</p>
					<br>
					<p>{{#if photographer}}<strong>Photographer:</strong> {{photographer}}{{/if}} <span>{{#if twitter}}<a href="{{twitter}}" target="_blank"><i class="fa fa-twitter fa-fw"></i></a>{{/if}}</span> <span>{{#if instagram}}<a href="{{instagram}}" target="_blank"><i class="fa fa-instagram fa-fw"></i></a>{{/if}}</span></p>
					<br>
					<p>{{#if camera}}<strong>Camera:</strong> {{camera}}{{/if}} {{#if lens}}<span><em>Lens: {{lens}}{{/if}}</em></span></p>
					<p class="text-muted"><em>last updated on {{publishedDate}}</em></p>
			</div>
				<!--{{!#if heroImage}}-->
				<!--<div class="col-sm-4 col-md-4">-->
					<!--<img src="{{!cloudinaryUrl heroImage width='680' height='680'}}" class="img-rounded">-->
				<!--</div>-->
				<!--{{!/if}}-->
				<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2 masonry">
						{{#each images}}
						<li class="masonry-item grid">
							<figure>
							<img src="{{cloudinaryUrl}}" class="card img-responsive">
							</figure>
						</li>
						{{/each}}
				</ul>
		{{/each}}
	{{else}}
	<!-- else -->
	<h3 class="text-muted">There are no image galleries yet.</h3>
	{{/if}}
	</div>
</main>
